// nextflow.config

process {
  executor = 'slurm'
  queue = 'normal'
  scratch = true
  errorStrategy = 'retry'
  maxRetries = 2

  publishDir = [ path: 'logs', mode: 'copy' ]
  stdout = true
  stderr = true

  withLabel: fastp {
    publishDir = [ path: 'data/fq_fp1', mode: 'copy', overwrite: true ]
    conda = 'bioconda::fastp'
    cpus = 8
    time = '2h'
    //memory = '32 GB'
  }

  withLabel: clumpify {
    publishDir = [ path: 'data/fq_fp1_clmp', mode: 'copy', overwrite: true ]
    conda = 'bioconda::bbmap'
    cpus = 4
    time = '1h'
    //memory = '16 GB'
  }

  withLabel: fastq_screen {
    publishDir = [ path: 'data/fastq_screen', mode: 'copy', overwrite: true ]
    conda = 'bioconda::fastq-screen'
    cpus = 8
    time = '3h'
    //memory = '48 GB'
  }

  withLabel: repair {
    publishDir = [ path: 'data/fq_fp1_clmp_fp2_scrn_rpr', mode: 'copy', overwrite: true ]
    conda = 'bioconda::bbmap'
    cpus = 4
    time = '1h'
    //memory = '12 GB'
  }

  withLabel: map_reads {
    publishDir = [ path: 'data/bam', mode: 'copy', overwrite: true ]
    conda = 'bioconda::bwa-mem2'
    cpus = 16
    time = '4h'
    //memory = '64 GB'
  }

  withLabel: multiqc {
    conda = 'bioconda::multiqc'
    cpus = 2
    time = '1h'
    //memory = '4 GB'
  }

  withLabel: fetch_genome {
    publishDir = [ path: 'data/genome', mode: 'copy', overwrite: true ]
    conda = 'conda-forge::ncbi-datasets-cli'
    cpus = 2
    time = '30m'
    //memory = '4 GB'
  }

  withLabel: index_genome {
    publishDir = [ path: 'data/genome', mode: 'copy', overwrite: true ]
    conda = 'bioconda::bwa'
    cpus = 8
    time = '2h'
    //memory = '32 GB'
  }
}

conda {
  enabled = true
  autoActivate = true
  channels = ['bioconda', 'conda-forge', 'defaults']
}
