// nextflow.config

process {
  executor = 'slurm'
  queue = 'normal'
  scratch = true
  errorStrategy = 'retry'
  maxRetries = 2

  publishDir = [ path: 'logs', mode: 'copy' ]
  stdout = true
  stderr = true

  withLabel: fastp {
    container = 'quay.io/biocontainers/fastp:0.23.4--h5f740d0_0'
    cpus = 8
    time = '2h'
    memory = '32 GB'
  }

  withLabel: clumpify {
    container = 'quay.io/biocontainers/bbmap:39.01--hdfd78af_0'
    cpus = 4
    time = '1h'
    memory = '16 GB'
  }

  withLabel: fastq_screen {
    container = 'quay.io/biocontainers/fastq-screen:0.15.3--pl5321hdfd78af_1'
    cpus = 8
    time = '3h'
    memory = '48 GB'
  }

  withLabel: repair {
    container = 'quay.io/biocontainers/bbmap:39.01--hdfd78af_0'
    cpus = 4
    time = '1h'
    memory = '12 GB'
  }

  withLabel: map_reads {
    container = 'quay.io/biocontainers/bwa:0.7.17--hed695b0_10'
    cpus = 16
    time = '4h'
    memory = '64 GB'
  }

  withLabel: multiqc {
    container = 'quay.io/biocontainers/multiqc:1.14--pyhdfd78af_0'
    cpus = 2
    time = '1h'
    memory = '4 GB'
  }

  withLabel: fetch_genome {
    container = 'quay.io/biocontainers/ncbi-datasets-cli:16.4.3--hdfd78af_0'
    cpus = 2
    time = '30m'
    memory = '4 GB'
  }

  withLabel: index_genome {
    container = 'quay.io/biocontainers/bwa:0.7.17--hed695b0_10'
    cpus = 8
    time = '2h'
    memory = '32 GB'
  }
}

singularity {
  enabled = true
  autoMounts = true
  runOptions = '--cleanenv'
}
